@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100%;
  background: linear-gradient(
    to bottom,
    #000000,
    #020101,
    #040102,
    #060202,
    #080203,
    #110304,
    #170305,
    #1c0404,
    #250504,
    #2c0503,
    #350402,
    #3d0000
  );
  background-attachment: fixed;
  overflow-x: hidden;
}

header nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  transition: all 0.5s;
  z-index: 1;
  background-color: #111;
}
nav .navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header .logo {
  color: rgba(255, 255, 255, 0.678);
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  padding: 8px;
}

#mobile-menu {
  color: white;
  font-size: 2rem;
  display: none;
  cursor: pointer;
}


nav .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

nav .nav-links a,
nav .nav-links button{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.678);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
}

nav .nav-links a:hover,
nav .nav-links button:hover{
  color: rgb(107, 22, 22);
}

nav .nav-links a::after,
nav .nav-links button::after {
  content: " ";
  width: 0%;
  height: 2px;
  background-color: rgb(107, 22, 22);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in;
}

nav .nav-links a:hover::after,
nav .nav-links button:hover::after {
  width: 100%;
}

nav .btn-login-register {
  align-self: center;
  background: transparent;
}

nav .btn-login-register {
  padding: 5px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  border: 2px solid rgba(255, 255, 255, 0.678);
  border-radius: 8px;
  font-size: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.678);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}



nav .btn-login-register:hover {
  border: 2px solid rgb(107, 22, 22);
}

.main-content {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  color: rgba(212, 212, 212, 0.705);
}

.main-left {
  max-width: 600px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  animation: entry 2s ease;
}

.main-left h1 {
  font-style: italic;
  font-weight: 800;
}

.description{
  max-height: 800px;
  overflow-y: scroll;
  padding-right: 10px;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #f1e9e9;
}

 *::-webkit-scrollbar-thumb {
  background-color: rgb(107, 22, 22);
  border-radius: 10px;
  border: 3px solid #ffffff;
}

h2 {
  align-self: center;
}

.medias {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-menu {
  position: relative;
  display: flex;
}

.social-icon {
  position: relative;
  display: flex;
}

.social-icon a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.836);
  border-radius: 50%;
  text-align: center;
  margin: 0 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  transform: translateY(0) scale(1);
}

.social-icon:hover a {
  transform: translateY(-6px) scale(1.2);
  margin: 0 20px;
  background: rgb(107, 22, 22);
}

.social-icon a i {
  font-size: 18px;
  color: black;
  line-height: 40px;
  transition: 0.3s;
}

.social-icon span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 16px;
  z-index: -1;
  transition: 0.3s;
}

.social-icon:hover span {
  transform: translate(-50%, 90%) scale(1);
  color: rgb(255, 210, 210);
  font-weight: 600;
}

.main-right {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: entry2 3s ease;
}

.slider {
  margin: 0 auto;
  width: 800px;
  height: 400px;
  overflow: hidden;
  border-radius: 50px;
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 33%;
  position: relative;
  transition: 2s ease;
}

.slide img {
  width: 800px;
}

.manual-navigation {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 30px;
}

.manual-btn:hover {
  background-color: rgb(107, 22, 22);
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -33%;
}
#radio3:checked ~ .first {
  margin-left: -66%;
}

.nav-auto div {
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.nav-auto {
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}

.nav-auto div:not(:last-child) {
  margin-right: 30px;
}

#radio1:checked ~ .nav-auto .auto-btn1 {
  background-color: rgb(107, 22, 22);
}

#radio2:checked ~ .nav-auto .auto-btn2 {
  background-color: rgb(107, 22, 22);
}

#radio3:checked ~ .nav-auto .auto-btn3 {
  background-color: rgb(107, 22, 22);
}



@media (min-width:2100px){
  .main-content{
    transform: scale(1.3);
  }
}
@media (max-width: 1780px){
  .main-left{
    transform: scale(0.8)
   }
   .main-right{
    transform: scale(0.8);
   }
}

@media (max-width:1600px){
  .main-left{
    transform: scale(0.7);
  }
}

@media (max-width:1450px){
  .main-content{
    flex-direction: column-reverse;
    padding-top: 60rem;
    padding-bottom: 3rem;
  }
}

@media (max-width:1400px){
  nav .nav-links{
    height: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #111;
    transition: 0.5s;
    overflow: hidden;
  }

  nav .nav-links.active{
    height: 600px;
  }

  nav .nav-links.active a,
  nav .nav-links.active button{
    opacity: 1;
  }
  
  nav .nav-links a,
  nav .nav-links button{
    display: block;
    width : fit-content;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  nav #mobile-menu{
    display: block;
  }
}

@media (max-width:900px){
  .main-content{
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: unset;
  }
 
  .main-right{
    display:none;
  }
}