@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  
  :root {
    font-size: 16px;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #2c2c31;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #9e9ea0;
  }
  
body {
    width: 100vw;
    height: 100%;
    background: linear-gradient(
      to bottom,
      #000000,
      #020101,
      #040102,
      #060202,
      #080203,
      #110304,
      #170305,
      #1c0404,
      #250504,
      #2c0503,
      #350402,
      #3d0000
    );
    background-attachment: fixed;
    overflow-x: hidden;
  }
  
  header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    transition: all 0.5s;
    z-index: 1;
    background-color: #111;
  }
  nav .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  header .logo {
    color: rgba(255, 255, 255, 0.678);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    padding: 8px;
  }
  
  #mobile-menu {
    color: white;
    font-size: 2rem;
    display: none;
    cursor: pointer;
  }
  
  
  nav .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
  
  nav .nav-links a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.678);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
  }
  
  nav .nav-links a:hover {
    color: rgb(107, 22, 22);
  }
  
  nav .nav-links a::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: rgb(107, 22, 22);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in;
  }
  
  nav .nav-links a:hover::after {
    width: 100%;
  }
  
  nav .login-register {
    align-self: center;
  }
  
  nav .login-register a {
    padding: 5px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    border: 2px solid rgba(255, 255, 255, 0.678);
    border-radius: 8px;
    font-size: 19px;
    color: rgba(255, 255, 255, 0.678);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
  }
  
  nav .login-register a::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: rgb(107, 22, 22);
    z-index: -1;
    transition: 0.5s;
  }
  
  nav .login-register a:hover::before {
    width: 100%;
  }
  
  nav .login-register a:hover {
    border: 2px solid rgb(107, 22, 22);
    color: black;
  }

  main {
    display: grid;
    padding-top: 6rem;
    position: fixed;
    grid-template-areas: "overview content";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
  }
  
  aside * {
    animation: entry 2s ease;
  }
  
  aside {
    grid-area: "overview";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    border-right: 1px solid;
    border-image: linear-gradient(#727275, #2c2c31) 1;
    position: relative;
    max-height: max-content;
  }
  
  aside::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("./imagens/eat.jpg");
    background-size: cover;
    background-position: bottom;
    z-index: -1;
    opacity: 0.2;
  }
  
  aside span {
    color: #dedee6;
    font-size: 2rem;
    font-weight: bolder;
    font-style: italic;
  }
  
  aside p {
    max-width: 700px;
    font-size: 20px;
    color: #9e9ea0;
    font-weight: bolder;
  }
  
  section {
    padding: 64px;
    grid-area: content;
    overflow-y: scroll;
    animation: entry2 2s ease;
  }
  
  .tips {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 64px;
  }
  
  .tips h1 {
    font-size: 2rem;
    font-weight: 800;
    color: #9e9ea0;
    border-bottom: 1px solid #9e9ea0;
  }
  
  .tips span {
    font-size: 1rem;
    color: rgb(238, 55, 55);
    font-style: italic;
  }
  
  .tips img {
    width: 100%;
    height: 280px;
    object-fit: contain;
    border-radius: 30px;
    transition: transform 0.4s ease-in-out;
  }
  
  .tips img:hover {
    transform: scale(1.1);
  }
  
  .imgHolder {
    width: 100%;
    height: 280px;
    overflow: hidden;
    border-radius: 30px;
  }
  
  .tips p {
    font-size: 1.2rem;
    color: #bebebf;
    line-height: 28px;
  }
  
  .tips a {
    text-decoration: none;
    border-bottom: 1px solid #9e9ea0;
    color: inherit;
    transition: all ease-in 0.2s;
  }
  
  .tips a:hover {
    color: rgb(238, 55, 55);
    border-bottom: 1px solid rgb(238, 55, 55);
  }
  
  @media (max-width: 1400px) {
    nav .nav-links {
      height: 0;
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 80px;
      left: 0;
      right: 0;
      width: 100vw;
      background: #111;
      transition: 0.5s;
      overflow: hidden;
    }
  
    nav .nav-links.active {
      height: 450px;
    }
  
    nav .nav-links.active a {
      opacity: 1;
    }
  
    nav .nav-links a {
      display: block;
      width: fit-content;
      text-align: center;
      transition: 0.5s;
      opacity: 0;
    }
    nav #mobile-menu {
      display: block;
    }
  }
  
  @media (max-width: 768px) {
    :root {
      font-size: 14px;
    }
    main {
      position: unset;
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 0.8fr;
      grid-template-areas:
        "overview"
        "content";
    }
    aside {
      gap: 40px;
      border-right: none;
      padding: 32px 12px;
    }

    section {
      overflow-y: visible;
      padding: 22px;
    }
  }